<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.Maxr1998.xposed.maxlock"
    android:versionCode="22"
    android:versionName="4.0.4">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".ui.ThisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".ui.SettingsActivity"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".Main"
            android:enabled="true"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".XposedMain"
            android:enabled="true"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.LockActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/TranslucentStatusBar" />

        <activity
            android:name=".ui.FakeDieDialog"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/FakeDieDialog" />

        <activity
            android:name=".ui.MasterSwitchShortcutActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:label="@string/toggle_master_switch"
            android:theme="@style/TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MasterSwitch"
            android:enabled="true"
            android:targetActivity=".ui.MasterSwitchShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".ui.settings.SettingsFragment$UninstallProtectionReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.haibison.android.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user"
            android:theme="@style/Alp.42447968.Theme.Dialog.Dark" />

        <service
            android:enabled="false"
            android:name=".ui.ThemeService"
            android:exported="false" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="MaxLock" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
        <meta-data
            android:name="override_tinted_status_bar_defaults"
            android:value="true" />
    </application>

</manifest>
