<?xml version="1.0" encoding="utf-8"?><!--
  ~ MaxLock, an Xposed applock module for Android
  ~ Copyright (C) 2014-2015  Maxr1998
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.Maxr1998.xposed.maxlock"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="xyz.danoz.recyclerviewfastscroller" />

    <uses-permission-sdk-23 android:name="android.permission.USE_FINGERPRINT" />
    <!-- For wallpaper on Samsung devices -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- For backups -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For IAPs -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For shortcuts -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".ThisApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- Main app -->
        <activity
            android:name=".ui.firstStart.FirstStartActivity"
            android:theme="@style/AppTheme.FirstStart" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".Main"
            android:enabled="true"
            android:targetActivity=".ui.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.haibison.android.lockpattern.LockPatternActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:screenOrientation="user"
            android:theme="@style/Alp.42447968.Theme.Dialog.Dark" />

        <activity
            android:name=".ui.settings.DonateActivity"
            android:label="@string/app_name" />

        <receiver
            android:name=".ui.SettingsActivity$UninstallProtectionReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            tools:ignore="ManifestResource">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <!-- Lock screen -->
        <activity
            android:name=".ui.LockActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/TranslucentStatusBar" />

        <!-- MasterSwitch widget -->
        <receiver android:name=".ui.actions.widget.MasterSwitchWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/masterswitch_widget_info" />
        </receiver>

        <!-- Shortcuts -->
        <activity
            android:name=".ui.actions.ActionConfigActivity"
            android:exported="true"
            android:label="@string/activity_label_actions"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.actions.ActionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/activity_label_actions"
            android:taskAffinity=""
            android:theme="@style/TranslucentStatusBar" />

        <activity
            android:name=".ui.actions.DeprecatedMasterSwitch"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/activity_label_toggle_ms_deprecated"
            android:taskAffinity=""
            android:theme="@style/TranslucentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Tasker -->
        <receiver
            android:name=".ui.actions.tasker.TaskActionReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.actions.tasker.TaskerEventConfigActivity"
            android:exported="true"
            android:taskAffinity="" />

        <activity-alias
            android:name=".ui.actions.tasker.EventUnlockAttempt"
            android:exported="true"
            android:label="Unlock Attempt"
            android:targetActivity=".ui.actions.tasker.TaskerEventConfigActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.actions.tasker.EventUnlockSuccess"
            android:exported="true"
            android:label="Unlock Success"
            android:targetActivity=".ui.actions.tasker.TaskerEventConfigActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ui.actions.tasker.EventUnlockFailed"
            android:exported="true"
            android:label="Unlock Failed"
            android:targetActivity=".ui.actions.tasker.TaskerEventConfigActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".ui.actions.tasker.TaskerEventQueryReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <!-- New app install -->
        <receiver
            android:name=".ui.NewAppInstalledBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- MaxLock no root plugin -->
        <service
            android:name=".no_xposed.AppLockService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/applock_service" />
        </service>

        <!-- Xposed configs -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Applocker for the Xposed Framework" />
        <meta-data
            android:name="xposedminversion"
            android:value="42" />

        <!-- App shortcuts -->
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/app_shortcuts" />

        <!-- Status bar tinting below Android Lollipop -->
        <meta-data
            android:name="override_tinted_status_bar_defaults"
            android:value="true" />

        <!-- Google Play Services / Analytics -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
    </application>
</manifest>